.userPage {
	width: 800px;
	padding: 30px 30px 50px 50px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	position: relative;
	margin: 0 auto;
}
.columnsWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.column1, .column2{
	padding: 0;
	margin: 0;
	text-align: left;
	font-size: 12px;
	line-height: 12px;
	color: #777;
}
.column2 {
	width: 300px;
	text-align: center;
	margin-left: 50px;
}

.column1 input, .column1 textarea {
	text-align: left;
	font-weight: normal;
	width: 95%;
	color: #000;
}

.column1 .callsign input{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 10px;
	margin-bottom: 0;
}
.column1 input.checkboxEx{
	width: 13px;
	margin-bottom: 0;
}

.column1 .fullName{	margin-top: 30px;}
.column1 .prevCallsigns{	margin-bottom: 0;}
.userPage input[type=submit] {
	margin-top: 20px;
	background-color: var(--orange);
	cursor: pointer;
}





.email {
	display: block;
	text-align: center;
	color: #333;
	margin: 10px 0;
}

.mainPhoto {
	text-align: center;
}
.mainPhoto img{
	width: 120px;
	border: 5px solid var(--purple);
    border-radius: 10px;
    cursor: pointer;
}

.controlsContainer .control{
    display: none
}
.controlsContainer:hover .control{
    display: inline
}



.photos {
}
.photos span{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 1px solid var(--purple);
	padding: 1px;
	margin: 10px;
	line-height: 0;
	cursor: pointer;
	vertical-align: middle;
}
.photos img{
	width: 100%;
}
.photos span.addImage{
	border-color: #ccc;
	height: 35px;
	padding-top: 35px;
}

.form {
}
