#callsignLookup {
	text-align: center;
	line-height: 1.5em;
}
#callsignLookup.spinner{
	margin-top: 50px;
}

#callsignInfoRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

#callsignPhoto{
	flex-grow: 1;
}
#callsignPhoto img{
	max-width: 150px;
	max-height: 100px;
	padding: 3px;
	border: 1px solid var(--grey-lite);
}

#callsignPerson{
	flex-grow: 1;
	padding-top: 5px;
}
#callsignPerson .callsign{
	font-size: 30px;
	font-weight: bold;
}
#callsignPerson .name{
	font-size: 20px;
	font-weight: bold;
}
#callsignPerson .email{
	color: var(--purple);
	text-decoration: underline;
}

#callsignAddr{
	flex-grow: 1;
}
#callsignAddr .country{
	font-size: 20px;
	font-weight: bold;
}

#callsignLookup table{
	width: 80%;
	margin: 0 auto;
}
#callsignLookup td.qth{
	font-size: 14px;
	color: var(--grey);
}
#callsignLookup tr:hover{
	background-color: #fff;
}

#qrzcomLogo{
	border: none;
	opacity: 0.5;
	width: 100px;
}
