table.logContentLayout {
	width: 1400px;
	height: 100%;
	margin: 0 auto 300px auto;
	border-spacing: 5px;
}
table.logContentLayout td{
	vertical-align: top;
	padding: 0;
	margin: 0;
}
table.logContentLayout tr:hover{
	background-color: transparent;
}

/*
.logWindow {
	width: 1000px;
	min-height: 200px;
	padding: 20px 50px 20px 50px;
	margin:0 auto 50px auto;
	background-color: #fff;
	text-align: center;
	vertical-align: top;
	border: 1px solid #ccc;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
}

.logWindow table{
	width: 100%;
	border-collapse: collapse;
}
*/

table.logContentLayout td.newQsoWindow{
	width: 50%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
table.logContentLayout td.hambookProfileWindow{
	width: 25%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
table.logContentLayout td.dxClusterWindow{
	width: 25%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

table.logContentLayout td.qrzComWindow{
	width: 25%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
table.logContentLayout td.qrzRuWindow{
	width: 25%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
table.logContentLayout td.statsWindow{
	width: 25%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

table.logContentLayout td.logWindow{
	width: 75%;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
