.logMenu {
	width: 1000px;
	background-color: var(--purple);
	padding: 3px 50px;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
	text-align: center;
	position: relative;
}

.logMenu form{
	position: absolute;
	top: 2px;
	right: 2px;
}
.logMenu input{
	width: 150px;
	padding: 0 10px;
}


.logMenu span{
	margin: 0 10px;
	cursor: pointer;
	color: white;
}
.logMenu span:hover{
	color: var(--orange);
}
.logMenu span.activeTab {
	color: var(--orange);
}

