.logMenu {
	width: 1000px;
	background-color: white;
	padding: 10px 50px 10px 50px;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
	text-align: center;
	position: relative;
}

.logMenu form{
	position: absolute;
	top: 9px;
	right: 5px;
}
.logMenu input{
	width: 150px;
	padding: 0 10px;
}


.logMenu span{
	margin: 0 10px;
	cursor: pointer;
	color: var(--purple);
	font-weight: bold;
}
.logMenu span:hover{
	text-decoration: underline;
}
.activeTab {
}

