.logsList {
	width: 1000px;
	min-height: 500px;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	vertical-align: top;
}

.logsListItem {
	display: inline-block;
	width: 170px;
	min-height: 80px;
	padding: 0px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: top;
	margin: 20px;
	position: relative;
	color: var(--grey);
	overflow: hidden;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.logsListItem span{
	display: inline-block;
	padding-top: 25px;
}

.menuButton {
	text-align: right;
	font-weight: bold;
	color: var(--grey);
	text-align: right;
	background-color: #f7f7f7;
	border-top: 1px solid #ccc;
	margin-top: 15px;
	line-height: 15px;
}
.menuButton img{
	width: 18px;
	margin: 0 5px 2px 0;
}

.menuWrapper {
	font-size: 14px;
	line-height: 14px;
	padding: 0;
	text-align: left;

}

.menuItem {
	padding: 5px 20px;
	font-weight: normal;
	color: #333;
}
.menuItem:hover {
	background-color: var(--orange);
}

.logCallsign {
	padding: 10px 10px 0px 10px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.logDescription {
	height: 14px;
	padding: 0px 5px 0px 5px;
	font-size: 14px;
	font-style: italic;
	color: var(--grey);
}
