.newQso {
	width: 900px;
	padding: 20px 50px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	vertical-align: top;
}
.newQso form{
	display: flex;
	flex-direction: column;
}
.flexRow {
	display: flex;
	flex-direction: row;
}
.flexRow div{
	padding: 0;
	line-height: 12px;
}
.flexRow div span{
	color: var(--grey);
    font-size: 12px;
    font-style: italic;
}

.flexRow input{
	padding: 3px 10px;
	font-weight: bold;
}

.flexRow select{
	padding: 3px 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
	font-weight: bold;
    color: #333;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    outline: none;
    line-height: 18px;
}

#realtime {
	padding-top: 15px;
	line-height: 12px;
	margin-right: 10px;
	width: 100px;
	text-align: left;
}
#realtime span{
	display: inline-block;
	text-align: left;
	margin-left: 5px;
}
#realtime input{
	vertical-align: 5px;
}

#time {	margin-right: 15px;}
#time input{	width: 100px;}

#date {	margin-right: 15px;}
#date input{	width: 180px; }

#freq {	margin-right: 15px;}
#freq input{	width: 180px; padding: 4px 10px;}

#band {	margin-right: 15px;}
#band select{	width: 100px; }

#mode {}

#mode select{	width: 100px; }



#buttonClear{
	width: 30px;
	cursor: pointer;
}
#buttonClear img{
	width: 30px;
}
#callsign {
	width: 85%;
	margin: 0 auto;
}
#callsign input{
	background-color: var(--yellow-lite);
	width: 100%;
	padding: 5px 0;
	font-size: 24px;
	font-weight: bold;
	border-color: var(--purple);
}
#buttonOk{
	width: 30px;
	font-size: 20px;
	color: var(--grey);
	cursor: pointer;
}




#rstr {	margin-right: 15px;}
#rstr input{	width: 70px;}

#rsts {	margin-right: 15px;}
#rsts input{	width: 70px;}

#name {	margin-right: 15px;}

#qth {	margin-right: 15px;}

#comment {	}




#stationCallsign {

	display: none;
}

