.logMenu {
	width: 1000px;
	background-color: var(--grey-lite);
	padding: 5px 50px 5px 50px;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 1px solid var(--grey-lite);
	text-align: center;
	position: relative;
}

.logMenu form{
	position: absolute;
	top: 5px;
	right: 5px;
}
.logMenu input{
	width: 150px;
	padding: 0 10px;
}
.logMenu img{
	width: 18px;
	color: var(--grey);
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}
.logMenu svg path{
  fill: currentcolor;
}


.logMenu span{
	text-decoration: underline;
	margin: 0 10px;
	cursor: pointer;
}
