.modalMask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modalWrapper {
  display: table-cell;
  vertical-align: middle;
}
.modalContainer {
  width: 350px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modalHeader{
  font-weight: bold;
}
.modalBody {
  margin: 20px 0;
}
.modalDefaultButton, .modalCancelButton {
  padding: 5px 15px ;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  line-height: 16px;
  margin: 0 5px;
}

.modalEnter {
  opacity: 0;
}
.modalExitActive {
  opacity: 0;
}
.modalEnter .modalContainer,
.modalExitActive .modalContainer {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

